* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #7bbdff;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    padding: 0;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #4aa4fd;
    padding: 5px;
    display: block;
    text-align: center;
}

nav a:hover {
    background-color: #4aabff;
}

main {
    padding: 15px;
}

article {
    border: 1px solid rgb(46, 43, 43);
    padding: 8px;
    margin-bottom: 10px;
}

article img {
    width: 100%;
    margin-top: 5px;
}

video {
    width: 100%;
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid rgb(34, 31, 31);
    padding: 5px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

details {
    margin-top: 5px;
}

canvas {
    margin-top: 10px;
    border: 1px solid rgb(31, 29, 29);
}

form {
    margin-top: 15px;
}

fieldset {
    padding: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-top: 5px;
}

input, select, textarea, button {
    width: 100%;
    padding: 5px;
    margin-top: 3px;
}

button {
    background-color: #78bbff;
    color: white;
    border: none;
    margin-top: 5px;
}

button:hover {
    background-color: #78bbff;
}

footer {
    background-color: #78bcff;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}

@media (min-width: 768px) {

    nav ul {
        flex-direction: row;
        justify-content: center;
    }

    .grid-layout {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
    }
}

@media (max-width: 600px) {
  body {
    background-color: rgb(141, 225, 253);
  }
  
  .contenedor {
    flex-direction: column; 
  }
}